
<style>

</style>



<div class="item d-flex justify-content-around">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/pulsar1.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">pulsar ns-200
        We R Racing Perfection</h3>
      <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
        R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/pulsar2.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">pulsra 125
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/pulsar3.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">pulsar ns 160
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/pulsar4.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">pulsar rs 200
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/pulsar 5.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">pulsar rs 250
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
</div>
