
<style>

</style>



<div class="item d-flex justify-content-around">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/royle enfeild 1.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">royale-enfelid milatry version
        We R Racing Perfection</h3>
      <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
        R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/royle enfeild2.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">royale-enfeild 500x
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/royleenfield3.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">royale-enfelid classic
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/royle enfield4.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">royyle-enfelid spattern
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../../assets/royle enfeild5.png" alt="">
    <div class="card-body">
      <h3 class="text-capitalize">royale-enfelid himalay
        We R Racing Perfection</h3>
        <p>The all new R15 V4 is the 4th generation of legendry R15 <br> which shares the same DNA with super sports YZF
          R1.</p>
    </div>
  </div>
</div>